<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Swissup\CheckoutSuccess\Model\Config\Source\AvailableBlocks">
        <arguments>
            <argument name="options" xsi:type="array">
                <item name="order.delivery.date" xsi:type="string" translate="true">Delivery Date</item>
            </argument>
        </arguments>
    </type>
    <type name="Magento\Sales\Model\ResourceModel\Order\Grid\Collection">
        <plugin name="swissup_delivery_date" type="Swissup\DeliveryDate\Plugin\Sales\Model\OrderGridCollection" />
    </type>
</config>
