<?xml version="1.0"?>
<!--
/**
 * Copyright © eComBricks. All rights reserved.
 * See COPYING.txt for license details.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">
    <event name="core_collection_abstract_load_after">
        <observer name="5f2e3ce22f0f98f7b1a7a149caf0fba1" instance="Ecombricks\InventoryCustomerSourceSelection\Observer\Framework\Model\ResourceModel\Db\Collection\AbstractCollection\AfterLoad"/>
    </event>
</config>