<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <fundraiser>
            <general>
                <enabled>0</enabled>
            </general>
            <product>
                <product_size_attribute_code>size_s_m_l_etc</product_size_attribute_code>
            </product>
            <tracking>
                <tracking_code_param>ftc</tracking_code_param>
            </tracking>
        </fundraiser>
    </default>
</config>
