<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="../../Backend/etc/menu.xsd">
    <menu>

	
		<add 
			id="TiDesign_Gymdesign::tigym" 
			title="Gym Design" 
			module="TiDesign_Gymdesign" 
			sortOrder="100" 
			resource="TiDesign_Gymdesign::tigym" 
			parent="TiDesign_Core::tidesigncore"/>
			
			<add 
				id="TiDesign_Gymdesign::settings" 
				title="Module Settings" 
				module="TiDesign_Gymdesign" 
				sortOrder="50" 
				parent="TiDesign_Gymdesign::tigym" 
				action="adminhtml/system_config/edit/section/gymdesign" 
				resource="TiDesign_Gymdesign::tigym"/>

	

    </menu>
</config>