<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <customer_field_manager>
            <compatibility>
                <ignore></ignore>
            </compatibility>
        </customer_field_manager>
    </default>
</config>
