<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <taxvat>
            <general>
                <required>0</required>
                <validate>0</validate>
                <allow_invalid>0</allow_invalid>
                <tax_free>0</tax_free>
                <tax_free_all>1</tax_free_all>
            </general>
        </taxvat>
    </default>
</config>
