<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <address_autocomplete>
            <main>
                <enable>0</enable>
                <fields>street</fields>
                <geolocation>1</geolocation>
                <restrict_to_current>0</restrict_to_current>
                <unit_number>1</unit_number>
                <unit_number_placement>line1_end</unit_number_placement>
                <unit_number_divider>{{, }}</unit_number_divider>
                <use_address_mapping>0</use_address_mapping>
                <address_mapping><![CDATA[{
    "*": {
        "country_id": "{{country.short_name}}",
        "street1": "{{street_number.short_name}}{{ }}{{route.long_name}}{{, }}{{subpremise.short_name}}",
        "street2": "",
        "street3": "",
        "street4": "",
        "city": "{{postal_town.long_name|locality.long_name|administrative_area_level_2.long_name|sublocality_level_1.long_name}}",
        "postcode": "{{postal_code.short_name}}{{-}}{{postal_code_suffix.short_name}}",
        "region": "{{administrative_area_level_1.long_name}}",
        "region_code": "{{administrative_area_level_1.short_name}}"
    },
    "AU": {
        "street1": "{{subpremise.short_name}}{{/}}{{street_number.short_name}}{{ }}{{route.long_name}}"
    },
    "BR": {
        "street4": "{{sublocality_level_1.long_name}}"
    },
    "ES": {
        "region": "{{administrative_area_level_2.long_name|administrative_area_level_1.long_name}}",
        "region_code": "{{administrative_area_level_2.short_name|administrative_area_level_1.short_name}}"
    },
    "IT": {
        "region": "{{administrative_area_level_2.long_name|administrative_area_level_1.long_name}}",
        "region_code": "{{administrative_area_level_2.short_name|administrative_area_level_1.short_name}}"
    }
}
]]></address_mapping>
            </main>
        </address_autocomplete>
    </default>
</config>
