<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <checkoutagreements>
            <checkoutagreements_mail>
                <sender_name>Owner</sender_name>
				<attach_contract>1</attach_contract>
                <sender_email_identity>general</sender_email_identity>
				<email_template>checkoutagreements_checkoutagreements_mail_email_template</email_template>
            </checkoutagreements_mail>
        </checkoutagreements>
    </default>
</config>