<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="../../../Config/etc/system_file.xsd">
	<system>
		<section id="custombundledisplay" translate="label" type="text" sortOrder="600" showInDefault="1" showInWebsite="1" showInStore="1">
			<label>Custom Bundle Display</label>
			<tab>tidesign</tab>
			<resource>TiDesign_BundleProduct::configuration</resource>
			<group id="custombundledisplay_default" translate="label" type="text" sortOrder="1" showInDefault="1" showInWebsite="1" showInStore="1">
				<label>Default Bundle Product Display</label>
				<field id="remove_button" translate="label comment" type="select" sortOrder="10"  showInDefault="1" showInWebsite="1" showInStore="1">
					<label>Remove "Customize and Add to Cart"</label>
					<source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
				</field>
				<field id="remove_summary" translate="label comment" type="select" sortOrder="20"  showInDefault="1" showInWebsite="1" showInStore="1">
					<label>Remove "Summary"</label>
					<source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
				</field>
				<field id="remove_options" translate="label comment" type="select" sortOrder="30"  showInDefault="1" showInWebsite="1" showInStore="1">
					<label>Hide "Options"</label>
					<source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
				</field>
				<field id="remove_qty" type="select" translate="label" sortOrder="40" showInDefault="1" showInWebsite="0" showInStore="0">
					<label>Hide Options "Quantity"</label>
					<source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
					<depends>
                        <field id="*/*/remove_options">0</field>
                    </depends>
				</field> 
				<field id="remove_price" type="select" translate="label" sortOrder="50" showInDefault="1" showInWebsite="0" showInStore="0">
					<label>Hide Options "Price"</label>
					<source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
					<depends>
                        <field id="*/*/remove_options">0</field>
                    </depends>
				</field>
			</group>				
			<group id="custombundledisplay_profile" translate="label" type="text" sortOrder="3" showInDefault="1" showInWebsite="1" showInStore="1">
				<label>Customised Bundle Product Display</label>
				<field id="remove_button" translate="label comment" type="select" sortOrder="10"  showInDefault="1" showInWebsite="1" showInStore="1">
					<label>Remove "Customize and Add to Cart"</label>
					<source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
				</field>
				<field id="remove_summary" translate="label comment" type="select" sortOrder="20"  showInDefault="1" showInWebsite="1" showInStore="1">
					<label>Remove "Summary"</label>
					<source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
				</field>
				<field id="remove_options" translate="label comment" type="select" sortOrder="30"  showInDefault="1" showInWebsite="1" showInStore="1">
					<label>Hide "Options"</label>
					<source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
				</field>
				<field id="remove_qty" type="select" translate="label" sortOrder="40" showInDefault="1" showInWebsite="0" showInStore="0">
					<label>Hide Options "Quantity"</label>
					<source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
					<depends>
                        <field id="*/*/remove_options">0</field>
                    </depends>
				</field> 
				<field id="remove_price" type="select" translate="label" sortOrder="50" showInDefault="1" showInWebsite="0" showInStore="0">
					<label>Hide Options "Price"</label>
					<source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
					<depends>
                        <field id="*/*/remove_options">0</field>
                    </depends>
				</field>
			</group>			
		</section>
	</system>
</config>