<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Magento\CatalogGraphQl\Model\ProductInterfaceTypeResolverComposite">
        <arguments>
            <argument name="productTypeNameResolvers" xsi:type="array">
                <item name="giftcard_product_type_resolver" xsi:type="object">Amasty\GiftCardGraphQl\Model\Resolver\Product\GiftCardProductTypeResolver</item>
            </argument>
        </arguments>
    </type>
    <type name="Magento\Framework\GraphQl\Schema\Type\Enum\DefaultDataMapper">
        <arguments>
            <argument name="map" xsi:type="array">
                <item name="AmGiftCardTypeEnum" xsi:type="array">
                    <item name="virtual" xsi:type="string">1</item>
                    <item name="printed" xsi:type="string">2</item>
                    <item name="combined" xsi:type="string">3</item>
                </item>
                <item name="AmGiftCardFeeTypeEnum" xsi:type="array">
                    <item name="percent" xsi:type="string">1</item>
                    <item name="fixed" xsi:type="string">2</item>
                </item>
            </argument>
        </arguments>
    </type>
    <type name="Magento\Framework\GraphQl\Schema\Type\Entity\DefaultMapper">
        <arguments>
            <argument name="map" xsi:type="array">
                <item name="catalog_product" xsi:type="array">
                    <item name="amgiftcard" xsi:type="string">AmGiftCardProduct</item>
                </item>
            </argument>
        </arguments>
    </type>
    <type name="Magento\QuoteGraphQl\Model\Cart\BuyRequest\BuyRequestBuilder">
        <arguments>
            <argument name="providers" xsi:type="array">
                <item name="amgiftcard" xsi:type="object">Amasty\GiftCardGraphQl\Model\Cart\BuyRequest\GiftCardDataProvider</item>
            </argument>
        </arguments>
    </type>
    <type name="Amasty\GiftCardGraphQl\Model\Resolver\PreviewGiftCard">
        <arguments>
            <argument name="previewProcessor" xsi:type="object">Amasty\GiftCardGraphQl\Model\GiftCard\EmailPreviewProcessor</argument>
        </arguments>
    </type>
    <type name="Magento\UrlRewriteGraphQl\Model\RoutableInterfaceTypeResolver">
        <arguments>
            <argument name="productTypeNameResolvers" xsi:type="array">
                <item name="am_giftcard_product_type_resolver" xsi:type="object">Amasty\GiftCardGraphQl\Model\Resolver\Product\GiftCardProductTypeResolver</item>
            </argument>
        </arguments>
    </type>
</config>
