// Icons from https://heroicons.com/

@icon__calendar:        '../heroicons/calendar.svg';
@icon__cart:            '../heroicons/cart.svg';
@icon__clipboard-check: '../heroicons/clipboard-check.svg';
@icon__document:        '../heroicons/document.svg';
@icon__fire:            '../heroicons/fire.svg';
@icon__globe:           '../heroicons/globe.svg';
@icon__globe-alt:       '../heroicons/globe-alt.svg';
@icon__list:            '../heroicons/list.svg';
@icon__location:        '../heroicons/location.svg';
@icon__mail:            '../heroicons/mail.svg';
@icon__paper-clip:      '../heroicons/paper-clip.svg';
@icon__tax:             '../heroicons/tax.svg';
