<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Module/etc/module.xsd">
    <module name="Xtento_CustomOrderNumber" setup_version="2.1.7">
        <sequence>
            <module name="Xtento_XtCore"/>
        </sequence>
    </module>
</config>
<!--
/**
 * Product:       Xtento_CustomOrderNumber (2.1.7)
 * ID:            ujUJn/Vth6o24dYqG/9u9lsOOEMJEJPHsCxn5DbLMtc=
 * Packaged:      2018-10-11T07:25:23+00:00
 * Last Modified: 2018-07-25T12:44:03+00:00
 * File:          app/code/Xtento/CustomOrderNumber/etc/module.xml
 * Copyright:     Copyright (c) 2018 XTENTO GmbH & Co. KG <info@xtento.com> / All rights reserved.
 */
-->