& when (@fc-loader__enabled) {
    .firecheckout {
        .page-wrapper {
            .loading-mask {
                // Show local loader with delay after global loader gets hidden.
                // It's done to prevent flickering on good internet speed.
                transition: 0s visibility 1200ms linear;
            }
        }
        .loading-mask[style*="block"],
        .loading-mask:not([style]) {
            ~ .page-wrapper {
                .loading-mask {
                    visibility: hidden;
                    transition: none;
                }
            }
        }
        .loading-mask .loader {
            img {
                visibility: hidden;
                opacity: 0;
                display: none;
            }

            position: absolute;
            left: 0;
            right: 0;
            top: 0;
            bottom: 0;
            transform: none;
            width: auto;
            height: auto;
            max-width: none;
            max-height: none;
            margin: 0;
            border: 0;
            animation: none;

            &::before {
                display: none;
            }
            &::after {
                content: '';

                position: absolute;
                top: 50%;
                left: 50%;
                width: @fc-loader__width;
                height: @fc-loader__height;
                margin-left: -(round(@fc-loader__width / 2));
                margin-top: -(round(@fc-loader__height / 2));

                -webkit-animation: firecheckout-spin 0.7s linear infinite;
                animation: firecheckout-spin 0.7s linear infinite;
                border: @fc-loader__border-width solid @fc-loader__secondary-color;
                border-top: @fc-loader__border-width solid @fc-loader__primary-color;
                border-radius: 50%;
                cursor: wait;
            }
        }
    }
}
