<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <geoip>
            <main>
                <enable>0</enable>
                <provider>maxmind_database</provider>
                <filename>GeoLite2-City.mmdb</filename>
                <maxmind_database_edition>GeoLite2-City</maxmind_database_edition>
            </main>
        </geoip>
    </default>
</config>
