<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Swissup\CheckoutSuccess\Model\Config\Source\AvailableBlocks">
        <arguments>
            <argument name="options" xsi:type="array">
                <item name="order.checkout.fields" xsi:type="string" translate="true">Checkout Fields</item>
            </argument>
        </arguments>
    </type>
    <type name="Magento\Ui\Component\Listing\Columns">
        <plugin name="swissup-checkout-fields" type="Swissup\CheckoutFields\Plugin\Ui\Component\OrderListingColumns" sortOrder="1"/>
    </type>
    <type name="Magento\Framework\View\Element\UiComponent\DataProvider\Reporting">
        <plugin name="swissup-checkout-fields" type="Swissup\CheckoutFields\Plugin\Ui\Component\OrderListingData"/>
    </type>
    <type name="Magento\Sales\Block\Adminhtml\Order\Create\Form\Account">
        <plugin name="swissup-checkout-fields" type="Swissup\CheckoutFields\Plugin\Block\Adminhtml\Order\CreateAccountForm" />
    </type>
    <type name="Magento\Sales\Model\AdminOrder\Create">
        <plugin name="swissup-checkout-fields" type="Swissup\CheckoutFields\Plugin\Model\AdminOrderCreate" />
    </type>
</config>
