#search_mini_form.sparsh-minisearch .control {
  position: relative;
}

#search_mini_form.sparsh-minisearch input {
  width: 100%;
  font-size: 14px;
  box-sizing: border-box;
}

#search_mini_form.sparsh-minisearch .icon-container {
  position: absolute;
  right: 35px;
  top: calc(18%);
}

#search_mini_form.sparsh-minisearch .blank-theme-loader{
  top: calc(12%) !important;
}

#search_mini_form.sparsh-minisearch .loader {
  position: relative;
  height: 17px;
  width: 17px;
  display: inline-block;
  animation: around 5.4s infinite;
}

@keyframes around {
  0% {
    transform: rotate(0deg)
  }
  100% {
    transform: rotate(360deg)
  }
}

#search_mini_form.sparsh-minisearch .loader::after, #search_mini_form.sparsh-minisearch .loader::before {
  content: "";
  background: white;
  position: absolute;
  display: inline-block;
  width: 100%;
  height: 100%;
  border-width: 2px;
  border-color: #333 #333 transparent transparent;
  border-style: solid;
  border-radius: 20px;
  box-sizing: border-box;
  top: 0;
  left: 0;
  animation: around 0.7s ease-in-out infinite;
}

#search_mini_form.sparsh-minisearch .loader::after {
  animation: around 0.7s ease-in-out 0.1s infinite;
  background: transparent;
}

.sparsh-search-auto-complete {
    background-color: #fff;
    border: 1px solid #c2c2c2;
    box-shadow: 0 3px 3px rgba(0, 0, 0, 0.15);
    margin-top: 4px;
    width: 100%;
    position: absolute;
    z-index: 9999999;
    max-height: 800px;
    overflow: auto;
    right: 0px;
}
.sparsh-search-auto-complete .sparsh-search-auto-complete-suggest,
.sparsh-search-auto-complete .sparsh-search-auto-complete-product {
    margin: 0;
}

.sparsh-search-auto-complete.active,
.sparsh-search-auto-complete .sparsh-search-auto-complete-suggest.active,
.sparsh-search-auto-complete .sparsh-search-auto-complete-product.active {
    display: block;
}

.sparsh-search-auto-complete .sparsh-search-auto-complete-suggest {
    color: #3C3C3C;
}

.sparsh-search-auto-complete .title {
    padding: 10px;
    margin-bottom: 5px;
    background: #f0f0f0;
    color: #575757;
    font-weight: 600;
}

.sparsh-search-auto-complete .title .sparsh-search-auto-complete-product-see-all {
    display: inline-block;
    float: right;
    color: #909090;
    cursor: pointer;
}

.sparsh-search-auto-complete .no-result {
    padding: 10px;
    background: #f0f0f0;
    color: #575757;
    text-align: center;
}

.sparsh-search-auto-complete ul {
    padding: 0 10px;
    margin-bottom: 0;
    list-style-type: none;
}

.sparsh-search-auto-complete ul li {
    color: #000;
    cursor: unset;
    padding: 0;
}

.sparsh-search-auto-complete .sparsh-search-auto-complete-suggest ul li {
    color: #3C3C3C;
}

.sparsh-search-auto-complete .sparsh-search-auto-complete-product ul li {
    border-bottom: 1px solid #D4D2D2;
}
.sparsh-search-auto-complete .sparsh-search-auto-complete-product ul li:last-child {
    border-bottom: none;
}

.sparsh-search-auto-complete ul li:hover,
.sparsh-search-auto-complete ul li.selected {
    background-color: #fff;
}

.sparsh-search-auto-complete ul li:after {
    clear: both;
    content: '';
    display: block;
}

.sparsh-search-auto-complete ul li.action {
    padding: 0;
}

.sparsh-search-auto-complete ul li.action .action.close {
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
    border: 0 none;
    box-shadow: none;
    box-sizing: content-box;
    cursor: pointer;
    display: inline-block;
    float: right;
    font-weight: 400;
    height: 30px;
    line-height: inherit;
    margin: 0;
    padding: 0;
    right: 0;
    text-decoration: none;
    text-shadow: none;
    top: 0;
    width: 40px;
}

.sparsh-search-auto-complete ul li.action .action.close:before {
    color: #8f8f8f;
    content: '\e616';
    display: inline-block;
    font-family: 'luma-icons';
    font-size: 16px;
    font-weight: normal;
    margin: 0;
    overflow: hidden;
    text-align: center;
    vertical-align: top;
}

.sparsh-search-auto-complete ul li.gray-row {
    text-align: center;
}

.sparsh-search-auto-complete ul li.gray-row,
.sparsh-search-auto-complete ul li.gray-row:hover,
.sparsh-search-auto-complete ul li.gray-row.selected {
    background-color: #e8e8e8;
}

.sparsh-search-auto-complete ul li.gray-row a {
    color: #7B7B7B;
    text-decoration: blink;
}

.sparsh-search-auto-complete ul li a {
    cursor: pointer;
}

.sparsh-search-auto-complete ul li .qs-option-image {
    float: left;
    max-width: 82px;
    width: 25%;
}

.sparsh-search-auto-complete ul li .qs-option-info {
    color: #000;
    display: inline-block;
    float: left;
    padding-left: 5%;
    text-align: left;
    width: 70%;
    margin-bottom: 10px;
}

.sparsh-search-auto-complete ul li .qs-option-info.noimage {
    padding-left: 0;
    width: 100%;
}
.sparsh-search-auto-complete ul li:last-child .qs-option-info {
    margin-bottom: 0;
}

.sparsh-search-auto-complete ul li .qs-option-info .qs-option-title {
    display: inline-block;
    margin: 0;
    width: 100%;
}

.sparsh-search-auto-complete ul li .qs-option-info .qs-option-reviews {
    display: inline-block;
    text-transform: lowercase;
    width: 100%;
}

.sparsh-search-auto-complete ul li .qs-option-info .qs-option-reviews .product-reviews-summary {
    margin-bottom: 4px;
}

.sparsh-search-auto-complete ul li .qs-option-info .qs-option-reviews .reviews-actions {
    font-size: 12px;
}

.sparsh-search-auto-complete ul li .qs-option-info .qs-option-sku {
    display: block;
    width: 100%;
    color: #004875;
    font-size: 12px;
}

.sparsh-search-auto-complete ul li .qs-option-info .qs-option-shortdescription,
.sparsh-search-auto-complete ul li .qs-option-info .qs-option-description {
    color: #3C3C3C;
    font-size: 13px;
}


.sparsh-search-auto-complete ul li .qs-option-info .qs-option-price {
    display: inline-block;
    font-weight: bold;
    margin-top: 15px;
}

.sparsh-search-auto-complete ul li .qs-option-info .qs-option-addtocart {
    display: inline-block;
    float: right;
    margin-top: 10px;
}

@media only screen and (max-width: 767px) {
    .sparsh-search-auto-complete {
        left: 15px;
        margin-top: 0;
        right: 15px;
        width: auto;
        margin-top: -10px;
        max-height: 600px;
    }
    .sparsh-search-auto-complete-block.block-search input {
        left: 0;
        margin: 15px 0;
        position: relative;
    }
    #search_mini_form.sparsh-minisearch #search {
      display: none;
    }
    #search_mini_form.sparsh-minisearch .icon-container {
        top: calc(34%) !important;
    }
}

#search_mini_form.sparsh-minisearch #sparsh-search-auto-complete-category .parent_name{
  font-weight: 600;
}
