.g-recaptcha {
    margin-bottom: 1em;

    + .form-actions {
        align-items: center;
        display: flex;
        justify-content: space-between;
        margin-top: 0;

        .actions {
            padding: 0;
        }
    }
}
