<?xml version="1.0"?>

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Magento\InventoryConfigurableProductAdminUi\Plugin\Block\BulkStepChangeTemplate">
        <arguments>
            <argument name="multiSourceTemplate" xsi:type="string">MagentoFix_InventoryConfigurableProductAdminUi::catalog/product/edit/attribute/steps/bulk.phtml</argument>
        </arguments>
    </type>
</config>
